.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background: #a5343b;
    background: -webkit-linear-gradient(bottom left, #803c3e 0%, #81dca1 100%);
    background: -moz-linear-gradient(bottom left, #973a3a 0%, #81dca1 100%);
    background: -o-linear-gradient(bottom left, #c94a50 0%, #81dca1 100%);
    background: linear-gradient(to top right, #cf6767 0%, #81dca1 100%); 
}

.center{
    position:absolute;
    top:50%;
    left: 50.5%;
    transform: translate(-50%,-50%);
}

.number{
    font-size: 180px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color:rgb(255, 255, 255);
    height:140px;
    margin-top: 20px;
}

.sol1 {
    position:relative;
    font-size: 85px;
    height:160px;
    color:aliceblue;
    margin-left: -25px;
    display: block;
    line-height: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:90px;
}
.sol2{
    font-size: 19px;
    color:aliceblue;
    display:flex;
    align-items:center;
    justify-content:center;
}
.sol3 {
    font-size: 35px;
    color:aliceblue;
    display:flex;
    align-items:center;
    justify-content:center;
}